*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
body {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-light-1, 0.6),
      rgba($color-grey-light-2, 0.6)
    ),
    url('../../img/landscape.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 5rem auto;
  width: 70vh; //a4 width to height
  height: calc(100vh - 10rem);
  background-color: white;
  border: 1px solid $color-black;
  box-shadow: 0 1rem 4rem rgba($color-black, 0.8);

  //a4 margins
  padding: 2.5rem 3.5rem;
  padding-right: 1.6rem;

  &--dashboard {
    padding: 2.5rem 3.5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15rem 3rem 2rem 1fr 5rem;
    grid-gap: 3rem;
    align-items: center;
    justify-items: center;
  }
}

.devInfo {
  color: $color-black;
  font-style: italic;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.2rem;

  &--left {
    text-align: left;
  }
}
::selection {
  background-color: $color-primary-dark;
  color: $color-white;
}
