*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
body {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-light-1, 0.6),
      rgba($color-grey-light-2, 0.6)
    ),
    url('../../img/landscape.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin-top: 5rem;
}

.devInfo {
  color: $color-black;
  font-style: italic;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1.2rem;

  &--left {
    text-align: left;
  }
}
::selection {
  background-color: $color-primary-dark;
  color: $color-white;
}
