%heading {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1px;
  margin: 0;
}
a {
  text-decoration: none;

  &:link,
  &:visited {
    color: inherit;
  }
  &:hover {
    text-decoration: none;
  }
}
ul {
  list-style-type: none;
}
input {
  &:focus {
    outline: none;
  }
}
body {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $color-black;
}

.heading-resume {
  @extend %heading;
  font-weight: 600;
  border-bottom: 1.5px solid $color-black;
  padding-bottom: 1px;
  margin-bottom: 0.5rem;
  width: 100%;
  text-transform: uppercase;
}

.heading-2 {
  @extend %heading;
  font-size: 3rem;
}
.heading-3 {
  @extend %heading;
  font-size: 2.4rem;

  @media only screen and (max-width: $bp-1600) {
    font-size: 2rem;
  }
  @media only screen and (max-width: $bp-1200) {
    font-size: 1.8rem;
  }
  @media only screen and (max-width: $bp-600) {
    font-size: 1.4rem;
  }
}
.heading-4 {
  @extend %heading;
  font-size: 1.6rem;

  @media only screen and (max-width: $bp-1200) {
    font-size: 1.4rem;
  }
  @media only screen and (max-width: $bp-800) {
    font-size: 1.2rem;
  }
}
.alert {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0.8rem;
  width: 50%;
  opacity: 0.9;
  background: var(--light-color);
  text-align: center;
  transform: translateX(50%);
}

.alert-primary {
  background: green;
  color: #fff;
}

.alert-light {
  background: white;
  color: #333;
}
.alert-dark {
  background: grey;
  color: #fff;
}

.alert-danger {
  background: red;
  color: #fff;
}
.alert-success {
  background: green;
  color: #fff;
}
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.isActive {
  font-weight: 600;
}

button {
  cursor: pointer;
  transition: all 0.2s;
  &:active {
    outline: none;
    transform: translateY(0.2rem);
  }
}
::placeholder {
  color: $color-grey-light-2;
  font-size: 1.2rem;
}

input[type='time']::-webkit-clear-button {
  display: none;
}
input[type='time']::-webkit-inner-spin-button,
input[type='time']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='month']::-webkit-clear-button {
  display: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  animation-delay: 1s;
  -webkit-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
