.input {
  width: 100%;
  background: inherit;
  color: $color-black;
  padding: 0.3rem 0.5rem;
  border: none;
  border-bottom: 1px solid $color-darkBlue;
  font-size: 1.2rem;

  &:active {
    outline: none;
    background: inherit;
  }
  &:focus {
    outline: none;
  }
}
.textarea {
  grid-row: 2 / 3;
  width: 100%;
  height: 100%;
  background: inherit;
  padding: 0.8rem 1.2rem;
  color: $color-black;
  font-size: 1.4rem;
  border: 1px solid $color-darkBlue;

  &:active {
    outline: none;
    background: inherit;
  }
  &:focus {
    outline: none;
  }
}
