&__input,
&__textarea {
  width: 100%;
  background: inherit;
  color: $color-black;
  padding: 0.3rem 0.5rem;
  border: 1px solid $color-darkBlue;
  font-size: 1.4rem;

  &:active {
    outline: none;
    background: inherit;
  }
  &:focus {
    outline: none;
    border: 1px solid $color-lightBlue;
    box-shadow: 0 1.5rem 4rem rgba($color-lightBlue, 0.2);
  }
}
