.radio {
  width: 100%;
  display: flex;
  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
  }
  &__text {
    width: 12rem;
  }
  &__input {
    display: none;
  }
  &__label {
    width: 5rem;
    height: 100%;
    cursor: pointer;
    position: relative;
  }
  &__btn {
    margin-left: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    border: 4px solid $color-lightBlue;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;

    &::after {
      content: '';
      display: block;
      height: 0.8rem;
      width: 0.8rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-lightBlue;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
}

.radio__input:checked ~ .radio__label .radio__btn::after {
  opacity: 1;
}
