.resumeForms {
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-1200) {
    padding: 0 1rem;
  }
  @media only screen and (max-width: $bp-1000) {
    padding: 4rem 1rem;
  }
  @media only screen and (max-width: $bp-600) {
    padding: 2rem 1rem;
  }
  @media only screen and (max-width: $bp-400) {
    padding: 2rem 0;
  }

  &--generalInfo {
    display: grid;
    grid-template-rows: repeat(6, 5rem);
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: $bp-600) {
      grid-column-gap: 2rem;
      grid-template-columns: 18rem 1fr;
    }
    @media only screen and (max-width: $bp-500) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &--education {
    display: grid;
    grid-template-rows: 1fr 12rem 5rem;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: $bp-600) {
      grid-column-gap: 2rem;
    }
    @media only screen and (max-width: $bp-500) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  &--skills {
    display: grid;
    grid-template-rows: repeat(9, 3rem);
    grid-template-columns: repeat(3, 1fr);

    align-items: center;
    justify-items: center;

    @media only screen and (max-width: $bp-500) {
      grid-template-rows: repeat(14, 2.5rem);
      grid-template-columns: 1fr 1fr;
    }
  }
  &--projects {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2rem;
    align-items: center;

    @media only screen and (max-width: $bp-600) {
      grid-column-gap: 2rem;
    }
    @media only screen and (max-width: $bp-500) {
      grid-template-rows: 1fr;
    }
  }
  &--download {
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-500) {
      height: calc(100vh - 20rem);
      text-align: center;
    }

    &__btn {
      color: $color-white;
      font-size: 1.8rem;
      margin-top: 2rem;
      padding: 1rem 3rem;
      border: none;

      background-image: linear-gradient(
        to right,
        rgba($color-dashboard-light, 1),
        rgba($color-dashboard-dark, 1)
      );

      @media only screen and (max-width: $bp-600) {
        font-size: 1.4rem;
      }
    }
    &__p {
      @media only screen and (max-width: $bp-600) {
        font-size: 1.2rem;
      }
    }
  }

  &__field {
    display: grid;
    grid-template-rows: 2rem 2rem;
    grid-template-columns: 4rem 20rem;
    align-items: center;
    margin-bottom: 1rem;

    @media only screen and (max-width: $bp-600) {
      grid-template-columns: 2.5rem 15rem;
    }
    @media only screen and (max-width: $bp-500) {
      grid-template-rows: 1.5rem 2rem;
      grid-template-columns: 2.2rem 20rem;
      margin-bottom: 2rem;
    }

    &--img {
      grid-column: 2 / 3;
    }
    &--halfLong {
      input {
        width: 75%;

        @media only screen and (max-width: $bp-800) {
          width: 70%;
        }
        @media only screen and (max-width: $bp-500) {
          width: 85%;
          margin-bottom: 2rem;
        }
      }
      svg {
        height: 1.5rem;
        width: 1.5rem;
        margin-right: 2px;

        @media only screen and (max-width: $bp-600) {
          height: 1.2rem;
          width: 1.2rem;
        }
      }
    }

    &__icon {
      align-self: end;
      grid-row: 1 / 3;
      height: 2.5rem;
      width: 2.5rem;
      fill: $color-lightBlue;

      @media only screen and (max-width: $bp-600) {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
    &__text {
      margin-left: 3px;
      font-size: 1rem;
      transition: all 0.3s;

      &--none {
        visibility: hidden;
      }
    }
  }
  &__textarea {
    grid-row: 1 / 5;
    grid-column: 2 / 3;
    height: 90%;
    width: 100%;

    display: grid;
    grid-template-rows: 2.5rem 1fr;
    align-items: center;
    margin-bottom: 1rem;

    @media only screen and (max-width: $bp-500) {
      height: 10rem;
    }

    &__header {
      display: flex;
      align-items: center;

      &__icon {
        align-self: end;
        grid-row: 1 / 2;
        height: 2rem;
        width: 2rem;
        fill: $color-lightBlue;
      }
      &__text {
        margin-left: 3px;
        font-size: 1.4rem;
        transition: all 0.3s;
      }
    }
  }
  &__education,
  &__language {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: $bp-500) {
      align-items: center;
    }

    &__time {
      width: 100%;
      display: flex;

      @media only screen and (max-width: $bp-500) {
        align-items: center;
        justify-content: space-between;
      }
    }

    &__slider {
      display: flex;
      align-items: center;
      width: 60%;

      @media only screen and (max-width: $bp-800) {
        width: 80%;
      }

      &__info {
        &--one {
          font-size: 1rem;
          margin-right: 1rem;
        }
        &--two {
          font-size: 1rem;
          margin-left: 1rem;
        }
      }
    }
  }
  &__project {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    @media only screen and (max-width: $bp-500) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
}

.rc-slider-track {
  background-color: $color-lightBlue;
}
