.userPage {
  width: 100%;
  height: 100vh;
  padding: 4rem 6rem;

  @media only screen and (max-width: $bp-1600) {
    padding: 0 2rem;
  }
  @media only screen and (max-width: $bp-1000) {
    height: 100%;
  }
  @media only screen and (max-width: $bp-800) {
    padding: 0 1rem;
  }

  background-image: linear-gradient(
    to right bottom,
    rgba($color-grey-light-1, 1),
    rgba($color-grey-light-2, 1)
  );
  display: grid;
  grid-template-rows: 8rem 1fr;
  align-items: center;
  justify-items: center;

  &__content {
    width: 100%;
    height: 100%;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-column-gap: 15rem;
    align-items: center;
    justify-items: center;

    @media only screen and (max-width: $bp-1600) {
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 10rem;
    }
    @media only screen and (max-width: $bp-1200) {
      grid-column-gap: 5rem;
    }
    @media only screen and (max-width: $bp-1000) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 60rem;
      grid-column-gap: 0;
      grid-row-gap: 5rem;
    }
    @media only screen and (max-width: $bp-800) {
      padding: 0 1rem;
    }
    @media only screen and (max-width: $bp-500) {
      grid-row-gap: 6rem;
      padding: 0;
    }

    &__header {
      font-size: 2.4rem;
    }
  }
}
