.header {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 8rem;
  }

  &__languages {
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 0;
  }
  &__btn {
    height: 3rem;
    width: 4.5rem;
    border: none;
    background: none;
    margin-right: 2rem;

    transition: all 0.5s;

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(1rem);
    }

    &__img {
      height: 3rem;
      width: 4.5rem;
    }
  }

  &__logout {
    height: 3rem;
    color: $color-white;
    font-size: 1.4rem;
    padding: 0.4rem 2rem;
    border: none;

    background-image: linear-gradient(
      to right,
      rgba($color-dashboard-light, 1),
      rgba($color-dashboard-dark, 1)
    );
  }
}
