$color-background: #e2f3f5;
$color-dashboard-light: rgb(101, 121, 155);
$color-dashboard-dark: rgb(94, 37, 99);

$color-white: #fff;
$color-grey-light-1: #f9f9f9;
$color-grey-light-2: #708090;

//resume colors
$color-black: #000;
$color-lightBlue: #008cff;
$color-darkBlue: #1b1464;
$color-green: #44bd32;
$color-red: #ea2027;

// FONT VARIABLES
$font-primary: 'Source Sans Pro', sans-serif;

//bp

$bp-1600: 100em;
$bp-1400: 87.5em;
$bp-1200: 75em;
$bp-1000: 65.625em; //62.5
$bp-800: 50em;
$bp-600: 37.5em;
$bp-500: 31.25em;
$bp-450: 28.125em;
$bp-400: 25em;
$bp-350: 21.875em;
